@media screen and (max-width:1230px) {

    *::before,
    *::after {
        content: none !important;
        display: none !important;
    }

    :root {
        --container-horizontal-padding: 0 10px;
    }

    .heading-title {
        margin: 0 0 0 -100px;
    }

    .product-prev {
        top: -355px;
        left: 14%;
    }

    .product-next {
        left: 101%;
    }

    .discount-badge {
        left: 10px;
    }

    .container {
        max-width: 1100px;
    }

    .nav__list {
        gap: 40px;
    }

    .bar {
        gap: 10px;
    }

    .row {
        gap: 4px;
    }

    .header__main {
        justify-content: space-between;
    }

    .hero__wrapper {
        background-size: contain;
        background-position: top left;
    }

    .hero {
        gap: 5%;
    }

    .hero__foot {
        justify-content: space-around;
        margin-top: -42px;
        padding-bottom: 20px;
    }

    .hero__left,
    .hero__right {
        img {
            width: 500px;
        }
    }

    .cards-category {
        gap: 10px;
    }

    .card {
        width: 200px;
    }

    .section-product-sliders {
        width: 83%;
    }

    .list-products {
        grid-template-columns: repeat(4, 205px);
        column-gap: 5px;
    }

    .properties-wrapper {
        padding: 3px;
        padding-left: 9px;
    }

    .product {
        width: 205px;
    }

    .add__cart__btn {
        padding: 18px;
        width: 185px;
    }

    .menu {
        gap: 27px;
    }

    .bargain__wrapper {
        grid-template-columns: repeat(4, 245px);
        column-gap: 15px;
    }

    .deal-block-f,
    .deal-block-s,
    .deal-block-t,
    .deal-block-fr {
        img {
            width: 245px;
        }
    }

    .stand-dish {
        width: 300px;
    }

    .text-flex-wrapper {
        width: 97%;
        gap: 66%;
    }

    .bargain-card-f,
    .bargain-card-s,
    .bargain-card-t,
    .bargain-card-fr {
        align-content: center;
        width: 225px;
        padding: 18px;
        left: 10px;
    }

    .add-contant {
        gap: 20px;
    }


    .img {
        width: 47%;
    }

    .footer-container {
        grid-template-columns: 27% 15% 16% 48%;
    }

    .footer-about {
        margin-top: -15px;
    }
}



@media screen and (max-width:1024px) {
    :root {
        --container-horizontal-padding: 5px;
    }

    .container {
        max-width: 950px;
    }

    .header-top-nav {
        gap: 20px;
    }

    .header__main {
        justify-content: space-evenly;
    }

    .search__inpt {
        width: 275px;
    }

    .bar {
        gap: 7px;
    }

    .hero {
        gap: 0;
    }

    .hero__left,
    .hero__right {
        img {
            width: 450px;
        }
    }

    .title-btn-wrapper {
        justify-content: start;
        gap: 18%;
    }

    .stand-dish {
        width: 270px;
    }

    .cards-category {
        gap: 4px;
    }

    .card {
        width: 165px;
    }

    .pr4 {
        display: none;
    }

    .deal-bl-4 {
        display: none;
    }

    .heading-title {
        margin-left: -50px;
    }

    .list-products {
        grid-template-columns: repeat(3, 205px);
    }

    .text-flex-wrapper {
        width: 93%;
        gap: 57%;
    }

    .bargain__wrapper {
        grid-template-columns: repeat(3, 273px);
        column-gap: 7px;
    }

    .img {
        img {
            width: 357px;
            height: 500px;
            object-fit: cover;
        }
    }

    .advantage-wrapper {
        gap: 6%;
    }

    .f-text {
        font-size: 15px;
    }

    .f-opts {
        font-size: 12px;
    }

    .footer-thumbnails {
        gap: 3px;
    }

    .f-inpt {
        width: 300px;
    }

    .footer-thumbnails {
        img {
            width: 55px;
        }
    }

    .footer-link-items {
        font-size: 13px;
    }

    .footer-container {
        grid-template-columns: 27% 18% 16% 48%;
    }

    .footer-about {
        gap: 16px;
    }
}


@media screen and (max-width:786px) {
    .nav__list {
        gap: 16px;
    }
}





@media screen and (max-width:640px) {
    .nav__list {
        gap: 10px;
    }

    .phone__number {
        a {
            width: 100%;

        }
    }
}

@media (max-width: 500px) {
    .custom__select {
        font-size: 0.9rem;
    }
}

/* 
    img {
        width: 440px;
    } */