* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fff-gr: #E9E9E9;
    --call-link-color: rgba(204, 121, 29, 1);
    --special-text: rgba(255, 104, 104, 1);
    --bred-color: #F7E8AA;
    --sliders-color: rgba(245, 62, 50, 1);
    --color-light: #fff;
    --light-less-color: #dddddd;
    --redful-light-color: #F53E32;
    --user-light-g-color: #F7F7F8;
    --star-light-color: #F5885F;
    --g-light-color: rgba(173, 173, 173, 1);
    --bright-cl-color: #CD7A1D;
    --dirty-g-color: #777777;
    --blak-color: #000;
    --link-color: #000;
    --greenland-light-color: #64B496;
    --p-font: "Poppins", sans-serif;
    --i-font: "Inter", sans-serif;
    --l-font: "Lato", sans-serif;
    --m-font: "Monsterrat", sans-serif;
    --q-font: "Quicksand", sans-serif;
    --mn-font: "Manrope", sans-serif;
}

.container {
    max-width: 1260px;
    padding: var(--container-horizontal-padding);
    margin: 0 auto;
}

header {
    font-weight: 500;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.2);
    padding: 10px 10px 10px 10px;
}

.header-top-nav {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}


.toggle {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--bg-color-light);
    border: 1px solid rgba(233, 233, 233, 1);
    cursor: pointer;
}

.header-top-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .18);
}

.header__main__wrapper {
    border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.navbar-sticky {
    transition: all .15s ease-in-out;
}

.short {
    width: 65px;
}

.short-prdct {
    width: 90px;
}

.navbar-default {
    margin: 0;
    border-radius: 0;
    border: 0 none;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .18);
    padding: 10px 10px 10px 10px;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 63px;
}


.nav__item {
    display: flex;
    font-size: 14px;
    cursor: pointer;
    font-family: var(--p-font);

    span {
        display: flex;
        align-items: center;
        padding: 0 0 0 6px;
    }
}

.nav__item:hover {
    .nav__item__link {
        color: var(--sliders-color);
        transition: 0.4s;
    }

    .nav__select {
        color: var(--sliders-color);
        transition: 0.4s;

    }

}

.phone-num-link:hover {
    color: var(--sliders-color);
    transition: 0.4s;
}

.nav__item__link {
    text-decoration: none;
    color: var(--link-color);
}

.nav__select {
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: var(--p-font);
    cursor: pointer;
}


.phone__number {
    a {
        font-family: var(--p-font);
        text-decoration: none;
        color: var(--link-color);
        font-weight: 400;
        cursor: pointer;
    }
}

.header__main {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--i-font);
    cursor: pointer;
}


.bar {
    display: flex;
    flex-direction: row;
    gap: 30px;

    p {
        font-family: var(--p-font);
        font-size: 15px;
        cursor: pointer;
    }
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-page-link:hover {
    color: var(--special-text);
    transition: 0.4s;

    .bar-icon {
        transition: 0.2s;
        fill: var(--special-text);
    }
}

.nav-page-link {
    display: flex;
    gap: 6px;
    text-decoration: none;
    color: var(--link-color);
}

.bar-icon {
    fill: var(--link-color);
    height: 19px;
    width: 19px;
}

.search__items {
    display: flex;
    align-items: center;
}

.search__inpt {
    width: 408px;
    height: 45px;
    padding: 13px 16px;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgba(100, 180, 150, 1);
    font-size: 13px;
    font-family: var(--p-font);
    font-weight: 400;
}

.search_icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--link-color);
    color: var(--color-light);
    border-radius: 0 5px 5px 0;
}

.custom__select {
    padding: 11px 13px;
    font-size: 13px;
    border: 1px solid rgba(100, 180, 150, 1);
    background-color: #fff;
    color: #333;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    cursor: pointer;
    width: 130px;
    height: 45px;
}


.custom__select:focus {
    outline: none;
    border-color: #666;
}


.comm-semenore {
    margin: 34px 0 21px 0;
    color: var(--g-light-color);
    font-family: var(--p-font);
}

.semenore-text-status {
    color: var(--special-text);
}


.blog-title {
    font-weight: 700;
    font-size: 32px;
    font-family: var(--mn-font);
    margin-bottom: 19px;
}

.blog-descrs {
    color: var(--g-light-color);
    font-weight: 400;
    font-size: 14px;
    font-family: var(--p-font);
    margin-bottom: 19.5px;
    line-height: 26px;
}

.blogs__img__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.blogs__fisrt__block {
    display: flex;
    flex-direction: column;
}

.blogs-imgs-descr {
    color: var(--blak-color);
    font-family: var(--p-font);
    font-weight: 700;
    font-size: 16px;
    position: relative;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.blogs-imgs-descr::before {
    content: "";
    background: url(../assets/blogs/blog-arrow-left.svg) no-repeat;
    width: 24.5px;
    height: 28.8px;
    position: absolute;
    bottom: -10px;
    left: -25px;
}


.blogs__semenor__comm {
    position: relative;
    padding: 35px 31px 70px 25px;
    border: 1px solid rgba(233, 233, 233, 1);
    width: 1298px;
    margin-bottom: 33px;
}

.blogs__semenor__comm::after {
    content: "";
    background: url(../assets/blogs/semenore-item-icon.svg) no-repeat;
    width: 38.8px;
    height: 34px;
    position: absolute;
    right: 26px;
    bottom: 16px;
}

.blogs__semenor__descr {
    font-weight: 500;
    color: var(--blak-color);
    font-family: var(--p-font);
    letter-spacing: 0.48px;
    line-height: 28px;
    font-size: 14px;
}

.semenor-main-pos {
    position: absolute;
    bottom: 31px;
    left: 31px;
    font-size: 20px;
    font-weight: 700;
    color: var(--special-text);
    font-family: var(--p-font);
    letter-spacing: 0.48px;
}


.blogs-nav-border {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(233, 233, 233, 1);
    padding: 11px;
}

.blogs__nav__left {
    display: flex;
    gap: 5px;
}

.blogs__nav__right {
    display: flex;
    gap: 5px;
}

.item1,
.item2,
.item3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--g-light-color);
    border-radius: 5px;
    border: 1px solid rgba(233, 233, 233, 1);
    width: 112px;
    height: 42px;
    padding: 6px 16px;
    font-family: var(--p-font);
    font-weight: 400;
    font-size: 14px;
}

.arrow-slide-content {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.blog-next,
.blog-prev {
    height: 38px;
    border-radius: 5px 0 0 5px;
    padding: 11px 13px;
    border: 1px solid rgba(233, 233, 233, 1);
}

.blog-inner-nexts {
    height: 38px;
    width: 36px;
    border: 1px solid rgba(233, 233, 233, 1);
    color: var(--g-light-color);
}

.blog-inner-nexts--active {
    background-color: var(--sliders-color);
    color: var(--color-light);
}

.blog-next {
    background: transparent;
    border-radius: 0 5px 5px 0;
}


body.sidebar-open {
    pointer-events: none;
    overflow: hidden;
}

body.sidebar-open .sidebar,
body.sidebar-open .overlay {
    pointer-events: all;
}



.toggle-btn {
    position: fixed;
    top: 140px;
    left: 230px;
    z-index: 1100;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-btn:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

.sidebar {
    width: 306px;
    height: 100vh;
    border-left: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    font-family: var(--p-font);
}

.sidebar.show {
    transform: translateX(0);
}

.search-box {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px;
}

.search-box input {
    border: none;
    padding: 10px;
    flex: 1;
    font-size: 14px;
}

.search-box button {
    background-color: #f44336;
    border: none;
    padding: 0 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #d32f2f;
}

.section-title {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 16px;
}

.category-list,
.tags {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.category-item,
.tag {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.category-item:hover,
.tag:hover {
    background-color: #f5f5f5;
    transform: scale(1.03);
}

.post {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

.post img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.post-date {
    color: #f44336;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post-title {
    font-weight: bold;
    font-size: 15px;
}

.post-desc {
    font-size: 13px;
    color: #777;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-bottom: 30px;
}

.gallery img {
    width: 100%;
    border-radius: 4px;
    height: 65px;
    object-fit: cover;
}

.tags {
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
}

.tag {
    display: inline-block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 900;
}

.overlay.show {
    display: block;
}



.footer-container {
    margin: 10% 0 0 0;
    padding: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: 39% 0.7fr 1fr 1fr;
    column-gap: 5%;
    font-family: var(--p-font);

    ul {
        list-style: none;

        li {
            a {
                color: var(--g-light-color);
                text-decoration: none;
            }
        }
    }
}





.footer-about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 14px;

}

.footer-link-items {
    color: var(--g-light-color);
    font-size: 14px;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
}

.f-i-wrapper {
    margin-right: 12px;
}

.about-descr {
    padding-top: 12px;
}

.icon-footer {
    width: 18px;
    height: 15px;
    fill: var(--g-light-color);
}



.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.footer-link-items:hover {
    color: var(--special-text);
    text-decoration: underline;

    .icon-footer {
        fill: var(--sliders-color);
    }
}



.footer-categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-section-hr {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 14px;

    li {
        width: 155px;
    }
}

.footer-newsletter {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.f-inpt {
    width: 416px;
    height: 44px;
    padding: 13px 14px;
    border: 1px solid #E9E9E9;
    border-radius: 5px;

    color: var(--g-light-color);
    font-family: var(--p-font);
    font-weight: 400;
}

.f-icons-bl {
    width: 35px;
    height: 35px;
    padding: 10px 11px;
    border: 1px solid #E1DFDF;
    border-radius: 4px;
}

.footer-thumbnails {
    display: flex;
    gap: 12px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    border-top: 1px solid #E9E9E9;
    margin-top: 10%;
    font-family: var(--p-font);
    font-size: 14px;

    span {
        color: var(--sliders-color);
    }
}


.footer {
    position: relative;
}

.footer::before {
    width: 60px;
    height: 60px;
    content: "";
    position: absolute;
    background: url(../assets/home-2/decor/footer-left-bg.svg);
    top: 35%;
    left: 0;
}

.footer::after {
    position: absolute;
    width: 120px;
    height: 60px;
    content: "";
    background: url(../assets/home-2/decor/footer-bottom-bg.svg);
    left: 84%;
    bottom: -12px;
}